/.idea/
/.idea/inspectionProfiles/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/propfixes.iml
/.idea/vcs.xml
/.idea/workspace.xml
